.dashboard-header {
  margin-left: 12%;
}
.firstname {
  color: red;
}
.dashboard-header h1 {
  font-size: 3rem;
  font-weight: 500;
}
.dashboard-header p {
  font-size: 1.3rem;
  font-weight: 400;
}
