body {
  margin: 0rem;
}
* {
  font-family: "Roboto", sans-serif;
}
.erreur {
  position: fixed;
  top: 10rem;
  left: 25rem;
  font-size: 2rem;
  color: #e60000;
  animation-duration: 5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
.link {
  color: #e60000;
  text-decoration: none;
}
.link-p {
  width: 25rem;
  text-align: center;
  background-color: black;
  padding: 2rem;
  border: #e60000 solid 0.5rem;
  border-radius: 5rem;
}
