.demo-error {
  margin-left: 10rem;
  position: relative;
  bottom: 25rem;
}
.demo-error p {
  color: white;
}
.error {
  font-size: 3rem;
  margin: 5rem 0 0 20rem;
}

.errorp {
  font-size: 1.5rem;
  margin: 1rem 0 0 20rem;
  color: #e60000;
}
